@import "~@mod-tollium/web/ui/css/settings.scss";
@import "~@mod-tollium/web/ui/skins/default/mixins.scss";

//Prefix and suffix
$prefix_suffix_margin: 5px;  //Sync with textedit.es

.t-textedit__prefix, .t-textedit__suffix
{
  margin-top: 5px;
  white-space: nowrap;
}

.t-textedit__prefix
{
  display: inline-block;
  vertical-align:top;
  margin-right: $prefix_suffix_margin;
}
.t-textedit__suffix
{
  display: inline-block;
  vertical-align:top;
  margin-left: $prefix_suffix_margin;
}

//Buttons
t-textedit t-button
{
  height: 100%;
  padding: 4px;
  border-left: 1px solid transparent;
}

t-textedit t-button.todd--disabled
{
  border: none;
}

t-textedit > input
{
  min-width: 20px;
  min-height: 23px;
  height: $control-height;
  position: relative;
  vertical-align: top;
  -webkit-appearance:none;

  border: 1px solid #b3b3b3;
  border-radius: 2px;
  padding: 0 5px;
  color: #000000;
  font-size: 12px;
  line-height: 16px;
  /*font-family: 'Roboto', sans-serif, Arial;*/
  background: $control-background-color;

  &:focus
  {
    @include tollium-input-focused;
  }

  &[required]
  {
    @include tollium-input-required;
  }

  &[readonly]
  {
    @include tollium-input-disabled;
  }

  &[readonly]:not(:focus)
  {
    text-overflow: ellipsis;
  }
}

t-textedit:not(.textedit--hiderequiredifdisabled) input[required][readonly]
{
  @include tollium-input-required-and-disabled;
}

t-textedit > input ~ t-button.icon
{
  position: absolute;
  right: 0;
  top: calc(50% - 8px);
  width: 16px;
  height: 16px;

  background: rgba(0,0,0,0);
  transition: background 0.1s;
}
t-textedit > input ~ t-button.icon:not(.todd--disabled):hover
{
  background: rgba(0,0,0,0.1);
}
t-textedit > input ~ t-button.icon.button--active
{
  background: rgba(0,0,0,.2);
}
t-textedit > input ~ t-button.icon .button__img
{
  top: 0;
  left: 0;
  margin: 0;
}
