@import "~@mod-tollium/web/ui/skins/default/mixins.scss";

/****************************************************************************************************************************
 * Normal buttons
   e.g. the OK, CANCEL, UP and DOWN buttons
*/

t-button
{
  height: 23px;
  line-height: 23px;
  padding: 0 5px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 2px;
}

t-button > span
{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  text-align: center !important;
  pointer-events: none;
}
  t-button.button--active > span
/*, t-button:active > span*/
{
  position:relative;
  top:1px;
  left:1px;
}
  t-button.todd--disabled.button--active > span
, t-button.todd--disabled:active > span
{
  left: 0;
  top: 0;
}
t-button.showmenu > span:after
{
  @include tollium-downarrow;
  padding-left: 5px;
}
t-button .button__img
{
  margin-top: 3px;
  margin-left: 4px;
  float: left; /* to have titles with ellipsis working without having to calculate the size of the text container */
  pointer-events: none;
}
t-toolbar-buttongroup t-button .button__img
{
  float: none;
}

/* disabled by vlaai */
/*t-button.pressed img,*/
  t-button.button--active .button__img
/*, t-button:active img*/
{
  left: 1px;
  top: 1px;
  position: relative;
}

/**/
t-button.todd--disabled
{
  cursor: default;
}

t-button.todd--disabled.pressed span,
t-button.todd--disabled.button--active span
{
  left: 0;
  top: 0;
}

t-button.icon
{
  padding: 0;
}
t-button.icon .button__img
{
  position: relative;
}


/****************************************************************************************************************************
 * Normal buttons
   e.g. "OK", "CANCEL", "UP" and "DOWN"
*/

t-button
{
  border:1px solid #b3b3b3;
  color: #000000;
  background-image: linear-gradient(to top, #EBEBEB 0%, #FFFFFF 83%);

  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.17);
}
:not(t-toolbar-buttongroup):not(t-buttongroup):not(t-textedit) > t-button:hover:not(.pressed):not(.todd--disabled)
{
  background-image: linear-gradient(to bottom, #EBEBEB 0%, #FFFFFF 83%);
}
t-button.pressed
{
  background-color: #308fe2;
}
t-button.todd--disabled
{
  border:1px solid #c9c9c9;
  color: #c9c9c9;
  background-color: #ffffff;
  background-image: none;


  box-shadow: none;
}
t-button.todd--disabled img
{
  opacity: .45;
}
:not(t-textedit) > t-button.default:not(.todd--disabled)
{
  @include tollium-defaultbutton;
}

:not(t-toolbar-buttongroup):not(t-buttongroup):not(t-textedit) > t-button.default:not(.todd--disabled):hover
{
  background-color: #007dc3;
  background-image: linear-gradient(to top, #0098EE 0%, #0285CF 100%);
}

:not(t-textedit) > t-button.default:not(.todd--disabled).button--active
{
  background-image: none;
  background-color: #007ec4;
}

t-button:focus
{
  border-color: #52aefe;
}


