.test1a
{
  //should not collapse into margin:0 unset
  margin-bottom: 0;
  margin-left: unset;
  margin-right: unset;
  margin-top: 0;

  //should not collapse into padding:0 initial
  padding-bottom: 0;
  padding-left: initial;
  padding-right: initial;
  padding-top: 0;
}

.test1b
{
  //should collapse into margin:0 1% auto 1px
  margin-bottom: auto;
  margin-left: 1px;
  margin-right: 1%;
  margin-top: 0px;
}

.test1c
{
  //should not collapse into inset: ..
  top:0;
  bottom:0;
  left:0;
  right:0;
}
