@import "~dompack/components/dialog/mixins";
@import "~dompack/components/pulldown/mixins";
@import "~@mod-publisher/js/webtools/pollstyles";

@at-root
{
  @include wh-poll-flex;
  @include wh-poll-results-percentage;
}

/* Global page, HTML5 setup, style reset */
html, body, p, h1, h2, h3, h4, h5, h6, form { padding:0; margin:0; }
img { border:none; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; }
datalist, template { display:none; }

*
{
  -webkit-box-sizing: border-box; /* Android 2.3 still requires this */
  -moz-box-sizing: border-box; /* For people still running firefox 24ESR */
  box-sizing: border-box;
}

/* Defaults */
html
{
  font: 10pt Arial, Sans-Serif;
  background-color: #ffffff;
  color: #000000;
}

body
{
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -moz-text-size-adjust: none;
  text-size-adjust: none;
}

.mydialog
{
  @include dompack-dialog;

  &__holder
  {
    background-color: #fff;
    padding: 15px 15px 20px;
    border: 1px solid #999;
    border-radius: 2px;
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.4);
    min-width: 200px;
    max-width: 450px;
    transition: transform 0.5s;
  }
}

.wh-form__fieldgroup input[required]
{
  background: yellow;
}

//////////////////////////////////////////////////////
//
// Consent styling
//
.wh-requireconsent
{
  position:relative;
  z-index:0;
}
.wh-requireconsent__overlay
{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,.5);
  z-index:1;
}
.wh-requireconsent__overlay:before
{
  color:#ffffff;
  content:"No consent given. Click to change consent settings";
}

///////////////////////////////////////////////////
//
// Pulldown

.mypulldown
{
  @include dompack-pulldown(28px);
  &__current
  {
    display:inline-block;
  }
  &__arrow
  {
    display:inline-block;
  }
  &__arrow:after
  {
    content:"v";
  }

  &__items
  {
    background:#ddd;
  }

  &__item--disabled
  {
    display: none;
  }
}
